
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas " id="sidebar" style="background-color: #60B8C4;">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center fixed-top " >
           
        </div>
        <ul class="nav">
            <li class="nav-item nav-category">
                <span class="nav-link mb-5 ">   <img src="" alt="logo" class=""></span>
             
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" >
                    <span class="menu-icon">
                        <i class="mdi mdi-speedometer text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold " >Tableau de bord</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a  class="nav-link "[routerLink]="['/AccueilAdmin']">
                    <span class="menu-icon">
                        <i class="bi bi-house-door-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion utilisateurs</span>
                </a>
            </li>
            <li class="nav-item menu-items isactive">
                <a class="nav-link " data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="bi bi-person-fill text-white"></i>
                    </span>
                    <span class="menu-title isactive menuside fw-bold">Gestion Forum</span>
                  
                </a>
             
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" [routerLink]="['/gestionUsers']">
                    <span class="menu-icon">
                        <i class="bi bi-collection-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion evenements</span>
                 
                </a>
               
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" [routerLink]="['/gestionForum']">
                    <span class="menu-icon">
                        <i class="bi bi-chat-left-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion Secteurs</span>
                  
                </a>
               
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" [routerLink]="['/gestionEvenement']">
                    <span class="menu-icon">
                        <i class="bi bi-chat-left-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion Commentaires</span>
                  
                </a>
               
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" [routerLink]="['/gestionSecteur']">
                    <span class="menu-icon">
                        <i class="bi bi-chat-left-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion Guides</span>
                  
                </a>
               
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" [routerLink]="['/gestionCommentaire']">
                    <span class="menu-icon">
                        <i class="bi bi-chat-left-fill text-white"></i>
                    </span>
                    <span class="menu-title menuside fw-bold">Gestion Rôles</span>
                  
                </a>
               
            </li>
        
  
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row " style="background-color: #60B8C4;">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center 
            ">
                <a class="navbar-brand brand-logo-mini" href="index.html"></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
               
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100 d-flex justify-content-end">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex   search " id="search">
                            <input type="text" class="form-control d-flex justify-content-end" placeholder="Rechercher">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                            data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count bg-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Event today</p>
                                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                        today </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-link-variant text-warning"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Launch Admin</p>
                                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">See all notifications</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profil</h6>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Se deconnecter</p>
                                </div>
                            </a>
  
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
       <div class="cartel d-flex" style=" width: 100%; justify-content: space-between; margin-top: 8%; height: 50%;">
        <div class="card col-md-5 "  id="carteProjet">
                        
            <div class="container mt-5" style=" width: 30%;">
                <p class="d-flex justify-content-between"><span class="fw-bold titre" style="margin-top: -45%;">Ajout Rôle</span>  </p> 
                <label for="Rôle">Rôle</label>
                <input type="text" placeholder="Ajouter un rôle" style="border: 1px solid #60B8C4; background-color: white;color: #60B8C4; border-radius: 10px;">
               <button class="btn btnClose mt-5 consulter" style="background-color:#60B8C4; color: white;">Ajouter</button>
            </div>
          </div>
          <table class="table table-hover table-nowrap"  style="width: 38%; height: 20px; margin-right: 10%;">
            <thead class="table-light" style="border: 1px solid #60B8C4; ">
              <tr>
                <th scope="col" style="color: #60B8C4; ">Domaine</th>
                <th scope="col "style="color: #60b8c4; " >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Admin</td>
                 <td> <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary me-md-2" type="button" style="background-color:#60B8C4">Modifier</button>
                  <button class="btn btn-primary" type="button" style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Suprimer</button>
                
                </div>
    
                </td>
              </tr>
              
              <tr>
                <td>Entrepreneur Expert</td>
             <td> <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary me-md-2" type="button" style="background-color:#60B8C4">Modifier</button>
              <button class="btn btn-primary" type="button" style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Suprimer</button>
            
            </div>

            </td>
          </tr>
          <tr>
            <td >Entrepreneur Novice</td>
         <td> <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary me-md-2" type="button" style="background-color:#60B8C4">Modifier</button>
          <button class="btn btn-primary" type="button" style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Suprimer</button>
        
        </div>

        </td>
      </tr>
              </tbody>
            </table>
                
       </div>
       
       
        <!-- main-panel ends -->
        
  
    </div>
    
    <!-- page-body-wrapper ends -->
    
  </div>
  
  
  
  
  <!-- Modal -->
  <div class="container mb-5 justify-content-between " style="margin-left: 66%;width: 20%; margin-top: -22%; ">
    <div class="pagination p1 " style=" width: 100%;">
      <ul>
        <a href="#"><li><</li></a>
        <a class="is-active" href="#"><li>1</li></a>
        <a href="#"><li>2</li></a>
        <a href="#"><li>3</li></a>
        <a href="#"><li>4</li></a>
        <a href="#"><li>></li></a>
      </ul>
    </div>
    
  </div>
  <div class="card col-md-5 mb-3 h-8"  id="carteProjet" style=" margin-left: 20%;height: 150px; margin-top:5%;width: 300px; background-color: #60B8C4;">
                        
    <div class="container mt-5" style="border: 1px solid #60B8C4; width: 40%;">
       <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre " style="color: white; font-size: 20px; width: 900px; margin-top: -50%; margin-left: -90%;">Total Role</span>  </p> 
        <div class="archiv d-flex justify-content-between" style="width: 300%; margin-left:-90% ;"> 
            <span style="color: white;font-size: 36px;">30</span> 
            <i class="bi bi-archive" style="color: white; font-size: 36px;"></i>
        </div>    
    </div>
  </div>
  
  