
<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas " id="sidebar" style="background-color: #60B8C4;">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center fixed-top ">
         
      </div>
      <ul class="nav">
          <li class="nav-item nav-category">
              <span class="nav-link mb-5 ">   <img src="" alt="logo" class=""></span>
           
          </li>
          <li class="nav-item menu-items">
              <a class="nav-link"  [routerLink]="['/AcceuilAdmin']">
                  <span class="menu-icon">
                      <i class="mdi mdi-speedometer text-white"></i>
                  </span>
                  <span class="menu-title menuside fw-bold " >Tableau de bord</span>
              </a>
          </li>
          <li class="nav-item menu-items">
              <a  class="nav-link " [routerLink]="['/gestionUsers']">
                  <span class="menu-icon">
                      <i class="bi bi-house-door-fill text-white"></i>
                  </span>
                  <span class="menu-title menuside fw-bold">Gestion Utilisateures</span>
              </a>
          </li>
          <li class="nav-item menu-items isactive">
              <a class="nav-link "  [routerLink]="['/gestionForum']"     data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                  aria-controls="ui-basic">
                  <span class="menu-icon">
                      <i class="bi bi-person-fill text-white"></i>
                  </span>
                  <span class="menu-title isactive menuside fw-bold">Gestion forum</span>
                
              </a>
           
          </li>
          <li class="nav-item menu-items">
              <a class="nav-link" [routerLink]="['/gestionEvenement']">
                  <span class="menu-icon">
                      <i class="bi bi-collection-fill text-white"></i>
                  </span>
                  <span class="menu-title menuside fw-bold">Gestion Commentaires</span>
               
              </a>
             
          </li>
          <li class="nav-item menu-items">
              <a class="nav-link" [routerLink]="['/gestionSecteur']">
                  <span class="menu-icon">
                      <i class="bi bi-chat-left-fill text-white"></i>
                  </span>
                  <span class="menu-title menuside fw-bold">Gestion Secteurs</span>
                
              </a>
             
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" [routerLink]="['/gestionGuide']">
                <span class="menu-icon">
                    <i class="bi bi-chat-left-fill text-white"></i>
                </span>
                <span class="menu-title menuside fw-bold">Gestion Guides</span>
              
            </a>
           
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" [routerLink]="['/gestionRole']">
                <span class="menu-icon">
                    <i class="bi bi-chat-left-fill text-white"></i>
                </span>
                <span class="menu-title menuside fw-bold">Gestion Rôles</span>
              
            </a>
           
        </li>
    

      </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row ">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center 
          ">
              <a class="navbar-brand brand-logo-mini" href="index.html"></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch" style="background-color: #60B8C4;">
             
              <ul class="navbar-nav w-100">
                  <li class="nav-item w-100 d-flex justify-content-end">
                      <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex   search " id="search">
                          <input type="text" class="form-control d-flex justify-content-end" placeholder="Rechercher">
                      </form>
                  </li>
              </ul>
              <ul class="navbar-nav navbar-nav-right">
                  <li class="nav-item dropdown border-left">
                      <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                          data-toggle="dropdown">
                          <i class="mdi mdi-bell"></i>
                          <span class="count bg-danger"></span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                          aria-labelledby="notificationDropdown">
                          <h6 class="p-3 mb-0">Notifications</h6>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item preview-item">
                              <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-calendar text-success"></i>
                                  </div>
                              </div>
                              <div class="preview-item-content">
                                  <p class="preview-subject mb-1">Event today</p>
                                  <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                      today </p>
                              </div>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item preview-item">
                              <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-settings text-danger"></i>
                                  </div>
                              </div>
                              <div class="preview-item-content">
                                  <p class="preview-subject mb-1">Settings</p>
                                  <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                              </div>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item preview-item">
                              <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-link-variant text-warning"></i>
                                  </div>
                              </div>
                              <div class="preview-item-content">
                                  <p class="preview-subject mb-1">Launch Admin</p>
                                  <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                              </div>
                          </a>
                          <div class="dropdown-divider"></div>
                          <p class="p-3 mb-0 text-center">See all notifications</p>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                          <div class="navbar-profile">
                              <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                              <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                              <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                          </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                          aria-labelledby="profileDropdown">
                          <h6 class="p-3 mb-0">Profil</h6>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item preview-item">
                              <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-logout text-danger"></i>
                                  </div>
                              </div>
                              <div class="preview-item-content">
                                  <p class="preview-subject mb-1">Se deconnecter</p>
                              </div>
                          </a>

                      </div>
                  </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                  data-toggle="offcanvas">
                  <span class="mdi mdi-format-line-spacing"></span>
              </button>
          </div>
      </nav>
      <!-- partial -->
      <div class="main-panel ">
          <div class="content-wrapper ">
              <div class="row">
                  <div class="col-sm-4 grid-margin">
                      <div class="card">
                          <div class="card-body border-0" style=" border:none !important" >
                              <h5> o</h5>
                              <div class="row">
                                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                                          <h2 class="mb-0">Projets</h2>
                                          
                                      </div>
                                      
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 grid-margin">
                      <div class="card">
                          <div class="card-body " style=" border:none !important">
                              <h5 style="margin-top: -9%; color: #f7f9f9; width: 10%;"><i class="bi bi-journal-text" style="font-size: 200%;background-color: #60B8C4"></i></h5>
                              <div class="row">
                                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                                          <h2 class="mb-0">Guides</h2>
                                          
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 grid-margin">
                      <div class="card">
                          <div class="card-body" style=" border:none !important">
                              <h5 style="margin-top: -10%; color: #60B8C4;"><i class="bi bi-person-fill" style="font-size: 200%;"></i></h5>
                              <div class="row">
                                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                                          <h2 class="mb-0">Entrepreneur</h2>
                                          
                                      </div>
                                      
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <button class="btn btn-primary" type="button"style=" border: 1px solid #60B8C4;background-color: white;color: #60B8C4; ">Ajouter</button>
                  <h4 class="text-center mb-3">Liste des evenements</h4>
                <div class="donnees" >
                  <table class="table table-hover table-nowrap mt-5">
                   <thead class="table-light">
                     <tr><th scope="col" style="color: black;">Domaine</th>
                       <th scope="col" style="color: black;">Titre</th>
                       <th scope="col" style="color: black;">Date</th>
                       <th scope="col" style="color: black;">Description</th>
                       <th scope="col"style="color: black;" >Action</th>
                       <th></th></tr>
                     </thead>
                     <tbody>
                       
                     <tr>
                     <td>Developpement</td>
                       <td>Green tech</td>
                   <td>24/10/2023</td>
                   <td>YGLJJ
                  </td>
                  <td> <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                   <button class="btn btn-primary me-md-2" type="button" style="background-color:#60B8C4">Reporter</button>
                   <button class="btn btn-primary" type="button" style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Annuler</button>
                 </div>
   
                   <div class="d-flex align-items-center">
                   <div>
   </div></div></td><td class="text-end">
                   <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                   </button>
                 </td>
               </tr>
               <tr>
                 <td>
                  Developpement</td>
                  <td>Green tech</td>
                  <td>/10/2023</td>
                  
                   <td>ASSS
                 
         </td>
                   
         <td ><div class="d-grid gap-2 d-md-flex justify-content-md-end">
           <button class="btn  me-md-2" type="button" style="background-color:#60B8C4;color: white;">Reporter</button>
           <button class="btn btn-primary" type="button"style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Annuler</button>
         </div>
         <td >
           </tr>
   
           <tr>
             <td>
              Developpement</td>
              <td>Green tech</td>
              <td>/10/2023</td>
              
               <td>ASSS
                </td>
                <td ><div class="d-grid gap-1 d-md-flex justify-content-md-end">
                 <button class="btn  me-md-2" type="button" style="background-color:#60B8C4;color: white;">Reporter</button>
                 <button class="btn btn-primary" type="button"style="border: 1px solid #60B8C4;background-color: white;color: #60B8C4;">Annuler</button>
               </div>
               <td >
               </tr>
   
                     </tbody></table>
               </div>
               <div class="container mb-5" style="margin-left: 40%; margin-top: 2%; ">
                <div class="pagination p1">
                  <ul>
                    <a href="#"><li><</li></a>
                    <a class="is-active" href="#"><li>1</li></a>
                    <a href="#"><li>2</li></a>
                    <a href="#"><li>3</li></a>
                    <a href="#"><li>4</li></a>
                    <a href="#"><li>></li></a>
                  </ul>
                </div>
                
              </div>

                <!-- <div class="container  mx-auto">
                  <div class="mesCartes row gap-2 ">
                      <div class="card col-md-4" style="width: 18rem;" id="carteProjet">
                          <img src="https://img.freepik.com/free-photo/focused-woman-testing-vr-headset_74855-4231.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" class="" height="70%" alt="...">
                          <div class="container mt-2">
                             <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span>  <button class="btn btnClose mt-1 consulter">Consulter</button></p> 
                            <p class="card-text datepub">Publié le 23/12/2012</p>
                           
                          </div>
                        </div>
                      <div class="card col-md-4" style="width: 18rem;" id="carteProjet">
                          <img src="https://img.freepik.com/free-photo/focused-woman-testing-vr-headset_74855-4231.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" class="" height="70%" alt="...">
                          <div class="container mt-2">
                             <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span>  <button class="btn btnClose mt-1 consulter">Consulter</button></p> 
                            <p class="card-text datepub">Publié le 23/12/2012</p>
                           
                          </div>
                        </div>
                      <div class="card col-md-4" style="width: 18rem;" id="carteProjet">
                          <img src="https://img.freepik.com/free-photo/focused-woman-testing-vr-headset_74855-4231.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" class="" height="70%" alt="...">
                          <div class="container mt-2">
                             <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span>  <button class="btn btnClose mt-1 consulter">Consulter</button></p> 
                            <p class="card-text datepub">Publié le 23/12/2012</p>
                           
                          </div>
                        </div>
                      
                    

                  </div>
                  <div class="pagination">
                   
                  </div>
              </div> -->
              </div>
              
          </div>
      </div>
      <!-- main-panel ends -->
      

  </div>
  <!-- page-body-wrapper ends -->
  
</div>


<img src="" alt="">


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Titre projet</label>
                <input type="text" name="titre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
              </div>
              <div class="mb-3">
                  <label for="formFile" class="form-label">Image du projet</label>
                  <input class="form-control" name="image" type="file" id="formFile" ="image">
                </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Description du projet</label>
                </div>
            
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout" data-bs-dismiss="modal" >Ajouter</button>
        <button type="button" class=" btn btnClose" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

