<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <span class="fw-bold " id="bien">Bienvenu sur</span>
        <p class="titres text-white fw-bold">Evenements</p>
        <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où
            les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.
        </p>
    </div>
</div>
<div class="container mt-5">
    <div class="search mt-4">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <input type="search">
    </div>
    <div class="cardArticles mt-5">
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite" [routerLink]="['/detailsEvenement']">
                Voir
            </button>
        </div>
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite">
                Voir
            </button>
        </div>
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite">
                Voir
            </button>
        </div>
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite">
                Voir
            </button>
        </div>
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite">
                Voir
            </button>
        </div>
        <div class="itemArticles">
            <img src="https://img.freepik.com/free-photo/businessman-standing-with-arms-crossed-office_107420-84917.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais" alt="">
            <h4>Tutoriels de programmation</h4>
            <p>Une guide pas à pas sur des langages de programmation (comme HTML, CSS, JavaScript), des frameworks (comme React,
                Angular, Vue.js), ou des outils de développement (Visual Studio Code, Git).</p>
            <button class="iconedroite">
                Voir
            </button>
        </div>
            <div class="pagination p1">
                <ul>
                    <a href="#">
                        <li><</li>
                    </a>
                    <a class="is-active" href="#">
                        <li>1</li>
                    </a>
                    <a href="#">
                        <li>2</li>
                    </a>
                    <a href="#">
                        <li>3</li>
                    </a>
                    <a href="#">
                        <li>4</li>
                    </a>
                    <a href="#">
                        <li>5</li>
                    </a>
                    <a href="#">
                        <li>6</li>
                    </a>
                    <a href="#">
                        <li>></li>
                    </a>
                </ul>
            </div>

    </div>
</div>
<app-footer></app-footer>
