<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <p class="titres text-white fw-bold">GUIDE</p>
        <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où
            les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.
        </p>
    </div>
</div>
<div class="container mt-5 mx-auto">
    <div class="cartes">
        <div class="mesCartes row  gap-3">
            <ng-container *ngFor="let guide of recupGuides">
                <div class="card col-md-5" id="carteProjet" *ngFor="let item of guide  " >
                    <div class="container mt-2">
                        <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre"> <span class="num">{{item.id}}.</span> {{item.titre}}</span> </p>
                        <p class="card-text ">{{item.contenu}}</p>
                        <button class="btn btnClose mt-1 consulter" [routerLink]="['/detailsGuide']">Voir</button>
                    </div>
                </div>
            </ng-container>
            <div class="pagination p1">
                <ul>
                    <a href="#">
                        <li><</li>
                    </a>
                    <a class="is-active" href="#">
                        <li>1</li>
                    </a>
                    <a href="#">
                        <li>2</li>
                    </a>
                    <a href="#">
                        <li>3</li>
                    </a>
                    <a href="#">
                        <li>4</li>
                    </a>
                    <a href="#">
                        <li>5</li>
                    </a>
                    <a href="#">
                        <li>6</li>
                    </a>
                    <a href="#">
                        <li>></li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="even">
            <h5>Evenements</h5>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
